<div class="m_content">
    <div class="sub_cont_3 fl">
        <h2 class="m_title_4">热点资讯</h2>
        <div class="aside_nav">
            <table>
                <tr>
                    <td><a href="#" target="_blank">人工智能浪潮来袭，你准备好了么</a></td>
                </tr>
                <tr class="even">
                    <td><a href="#" target="_blank">春运也AI，一票难求成过去式</a></td>
                </tr>
                <tr>
                    <td><a href="#" target="_blank">脑王陈智成来童程童美深造</a></td>

                </tr>
                <tr class="even">
                    <td><a href="#" target="_blank">编程让中国儿童更聪明，更智慧</a></td>

                </tr>
                <tr>
                    <td><a href="#" target="_blank">为什么人工智能用python开发</a></td>

                </tr>
                <tr class="even">
                    <td><a href="#" target="_blank">数据高端人才缺口不断月薪过万</a></td>

                </tr>
                <tr>
                    <td><a href="#" target="_blank">2018为什么你要向人工智能靠拢</a></td>

                </tr>
                <tr class="even">
                    <td><a href="#" target="_blank">阿里程序员相亲被拒特步背锅</a></td>

                </tr>
            </table>
        </div>
    </div>
</div>