    <div class="m_content">
        <div class="m_cont_0">
            <ul class="m_title_0 m_title_1 tit">
                <li id="newsleft_selfstock" class="tab_current">
                    <a href="#" class="related_industry">
                        我的自选股
                    </a>
                </li>
            </ul>
            <div class="sub_cont_0">
                <div stat="wdzxg" id="newsleft_selfstock_table" class="my_share stat">
                    <p class="login_tip">请登录金融网</p>
                    <div>
                        <p class="extra">
                        <span class="register"><a href="/login/" target="_blank">老用户登录</a><a href=""></a></span>
                    </p>
                    <p class="extra">
                        <span class="register"><a href="/reg/" target="_blank">新用户注册</a><a href=""></a></span>
                    </p>
                    </div>

                </div>        
                <span class="manage_stock stat"><a href="/account/">管理自选股</a></span>
            </div>