{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>股票交易</title>
    <link rel="stylesheet" href="{%static 'css/transaction.css' %}">
</head>
<body class="wrap-bg">
<div class="hd-bg">
	<div class="hd">
        <a href="http://bj.tedu.cn" class="logo_site">
                    <img src="{%static 'images/logo.png' %}" alt="logo图" title="logo图">
                </a>
        <div><span id="topUser">{{request.user.username}}，你好&nbsp;</span>
        <div class="user-pop" id="user-pop">
            <div class="user-infor" id="user-zjl">
                <s></s>
                <ul>

                    <li>当前市值：<span class="s-blue ui-dqsz">{{hold_money}}</span></li>
                    <li>资金余额：<span class="s-blue ui-zjye">{{request.user.money}}</span></li>
                    <li>总盈亏：<span class="s-red ui-zyk">{{profit}}</span></li>

                    <a href="{%url 'logout'%}">重新登录</a>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="main clearfix">
	<span style="color:red;font-size:16px"></span>
	<div class="tab">

    	<ul>
        	<li><a href="#" class="tab-def on">A&nbsp;&nbsp;股</a></li>

            <li><a href="#"  class="tab-def2 noauth" >股指期货</a></li>
            <li><a href="#"  class="tab-def2 noauth">商品期货</a></li>
            <li><a href="#"  class="tab-def2 noauth">外&nbsp;&nbsp;汇</a></li>
            <li><a href="#" class="tab-def2 noauth">期&nbsp;&nbsp;权</a></li>

        </ul>

    </div>
    <div class="l-nav">
    	<ul class="ul-out">
        	<li><a href="#" class="nav nav1 nav-on"><s></s>当日成交</a></li>
            <li><a href="#" class="nav nav2"><s></s>当日卖出</a></li>
            <li><a href="#" class="nav nav3"><s></s>撤&nbsp;单</a></li>
            <li><a href="#" class="nav4" id="nav4"><s></s>查&nbsp;询<em class="add add-l"></em></a>
            	<!-- <div class="ul-in1" id="querytab" style="display:none">
                	<a href="#" class="li-subnav nav-on" id="azijin">&nbsp;资金证券余额</a>
                    <a href="#" class="li-subnav" id="acjtoday">&nbsp;当日成交</a>
                    <a href="#" class="li-subnav" id="awttoday">&nbsp;当日委托</a>
                    <a href="#" class="li-subnav" id="acjhis">&nbsp;历史成交</a>
                    <a href="#" class="li-subnav" id="azjmx">&nbsp;资金证券流水</a>
                </div> -->
            </li>
            <li><a href="#" class="nav5" id="nav5"><s></s>市价委托<em class="add"></em></a>
            <!-- 	<div class="ul-in1" id="sjwttab" style="display:none">
                	<a href="#" class="li-subnav" id="asjwtbuy">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;买入</a>
                    <a href="#" class="li-subnav" id="asjwtsell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卖出</a>
                </div> -->
            </li>
          <!--  <li><a href="#" class="nav nav6"><s></s>银证业务<em class="add"></em></a></li> -->
        </ul>

    </div>
    <!--买入-->
    <div class="content" id="buydiv">
 	    <div class="buy-list clearfix">
     	    <div class="list1">
              <form action="{%url 'account'%}" method="post">
              {%csrf_token%}
     		    <input type="hidden" name="cmdType" value="buy">
         	    <p class="p1">
                  <label>股东代码:</label>
                    <select name="gddm" id="gddm" style="visibility: visible;">
                        <option value="2">沪A A475361156</option>
                        <option value="1">深A 0099641033</option>
                    </select>
                </p>
                <p class="p2">
                    <label>证券代码:</label>
                    <span style="position:relative" class="spanStockcode">
                    <input type="text" name="stockcode" class="stockcode" id="stockcode">

                    </span>
                        <span id="stname" name="stname" class="stockNameSpan">
                    </span>
                    <input type="hidden" id="stockval">
                </p>
              
                <p class="p4">
                    <label>可用资金:{{request.user.money}}</label>
                    
                </p>
                <p class="p5">
                    <label>持仓资金:{{hold_money}}</label>
                    
                </p>
                <p class="p6">
                   <!--  <input type="radio" value="1" name="buynumOne">全部
                    <input type="radio" value="2" name="buynumOne">1/2
                    <input type="radio" value="3" name="buynumOne">1/3
                    <input type="radio" value="4" name="buynumOne">1/4 -->
                </p>
                <p class="p7">
                    <label>买入数量:</label>
                    <input type="text" id="amount" name="amount">
                </p>

                 <p class="p3"> </p>
                <p class="p8">
                    <!-- <a href="#" class="reset ico buyreset">重&nbsp;置</a> -->
                  <!--   <a href="#" class="buy ico" id="buySubmit">买入下单</a> -->
             
                    <input type="submit"　class="buy ico" id="buySubmit" value="买入下单" >
                </p>
               </form>
            </div>
            <div class="list1">
            	 <form action="{%url 'account'%}" method="post">
                 {%csrf_token%}
                <input type="hidden" name="cmdType" value="sell">
                <p class="p1">
                  <label>股东代码:</label>
                    <select name="gddm" id="gddm" style="visibility: visible;">
                        <option value="2">沪A A475361156</option>
                        <option value="1">深A 0099641033</option>
                    </select>
                </p>
                <p class="p2">
                    <label>证券代码:</label>
                    <span style="position:relative" class="spanStockcode">
                    <input type="text" name="stockcode" class="stockcode" id="stockcode">

                    </span>
                        <span id="stname" name="stname" class="stockNameSpan">
                    </span>
                    <input type="hidden" id="stockval">
                </p>
              
                <p class="p4">
                    <label>可用资金:{{100000}}</label>
                    
                </p>
                <p class="p5">
                    <label>持仓资金:{{100000}}</label>
                    
                </p>
                <p class="p6">
                   <!--  <input type="radio" value="1" name="buynumOne">全部
                    <input type="radio" value="2" name="buynumOne">1/2
                    <input type="radio" value="3" name="buynumOne">1/3
                    <input type="radio" value="4" name="buynumOne">1/4 -->
                </p>
                <p class="p7">
                    <label>卖出数量:</label>
                    <input type="text" id="amount" name="amount">
                </p>

                 <p class="p3"> </p>
                <p class="p8">
                   <!--  <a href="#" class="reset ico buyreset">重&nbsp;置</a>
                    <a href="#" class="buy ico" id="buySubmit">卖出下单</a> -->
                    <input type="submit"　class="buy ico" id="buySubmit" value="卖出下单" >
                </p>
               </form>
            </div>
            <div class="list3 list1">
                <form action="{%url 'account'%}" method="post">
                    {%csrf_token%}
                    <input type="hidden" name="cmdType" value="sell">
                    <p class="p1">
                        <label>股东代码:</label>
                        <select name="gddm" id="gddm" style="visibility: visible;">
                            <option value="2">沪A A475361156</option>
                            <option value="1">深A 0099641033</option>
                        </select>
                    </p>
                    <p class="p2">
                        <label>证券代码:</label>
                        <span style="position:relative" class="spanStockcode">
                    <input type="text" name="stockcode" class="stockcode" id="stockcode">

                    </span>
                        <span id="stname" name="stname" class="stockNameSpan">
                    </span>
                        <input type="hidden" id="stockval">
                    </p>

                    <p class="p4">
                        <label>可用资金:{{100000}}</label>

                    </p>
                    <p class="p5">
                        <label>持仓资金:{{100000}}</label>

                    </p>
                    <p class="p6">
                        <!--  <input type="radio" value="1" name="buynumOne">全部
                         <input type="radio" value="2" name="buynumOne">1/2
                         <input type="radio" value="3" name="buynumOne">1/3
                         <input type="radio" value="4" name="buynumOne">1/4 -->
                    </p>
                    <p class="p7">
                        <label>卖出数量:</label>
                        <input type="text" id="amount" name="amount">
                    </p>

                    <p class="p3"> </p>
                    <p class="p8">
                        <!--  <a href="#" class="reset ico buyreset">重&nbsp;置</a>
                         <a href="#" class="buy ico" id="buySubmit">卖出下单</a> -->
                        <input type="submit"　class="buy ico" id="buySubmit" value="卖出下单" >
                    </p>
                </form>
            </div>
            </div>

        <div class="my-buy m-top">
        	<p>
                <a href="#" class="ico a1" >持仓</a>
                <a href="#" class="ico a3">买入</a>
                <a href="#" class="ico a3">卖出</a>

               <!--  <a href="#" class="ico a3">撤单</a> -->
                <a href="{%url 'account'%}" class="ico a3">刷新</a>
            </p>
            <div class="my-stocks">
            	<table name="qryChicang" class="tablesorter" style="">
				    <tbody>
                    <tr><th>无数据</th></tr>
                    </tbody>
                </table>
            </div>
        </div></div>
    </div>

<div class="footer clearfix">
	<p>达内Python　项目实验</p>
</div>
</body>
</html></html>